$color-red: #e54d42 !default;
$color-cyan: #1cbbb4 !default;
$color-blue: #0081ff !default;
$color-orange: #f37b1d !default;
$color-yellow: #fbbd08 !default;
$color-gray: #666 !default;
$color-green: #39b54a !default;
$color-white: #fff !default;


$xs-size: 8px !default;
$sm-size: 12px !default;
$normal-size: 16px !default;
$lg-size: 24px !default;
$xl-size: 48px !default;
$xxl-size: 64px !default;
