/**
* tm-ui by 醉月思
**/
@import "./mixin";

$color-list: (
  (red, $color-red),
  (cyan, $color-cyan),
  (blue, $color-blue),
  (yellow, $color-yellow),
  (orange, $color-orange),
  (gray, $color-gray),
  (green, $color-green),
  (white, $color-white)
);

$size-list: ((xs, $xs-size), (sm, $sm-size), (n, $normal-size), (lg, $lg-size), (xl, $xl-size), (xxl, $xxl-size));

$flex-list: (between, around);

$direction-list: (top, bottom, left, right);

.flex {
  @include flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.margin-auto {
  margin: 0 auto;
}
.margin-0 {
  margin: 0 !important;
}

@each $var in $flex-list {
  .justify-#{$var} {
    justify-content: space-#{$var};
  }
}
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
  align-content: center;
}
.align-end {
  align-items: flex-end;
}
// 字体尺寸
@each $name, $size in $size-list {
  .text-#{$name} {
    font-size: $size;
  }
}
.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
// 字体颜色
@each $name, $color in $color-list {
  .text-#{$name} {
    color: $color;
  }
}
// 背景色
@each $name, $color in $color-list {
  .bg-#{$name} {
    @include bg-light(#{$color});
  }
  .bg-#{$name}:hover,
  .bg-#{$name}:active,
  .bg-#{$name}:focus {
    background-color: lighten($color: $color, $amount: 5%);
    color: #fff;
    border-color: #fff;
  }
}
// margin
@each $direction in $direction-list {
  @each $name, $size in $size-list {
    .margin-#{$direction}-#{$name} {
      margin-#{$direction}: $size;
    }
  }
}
@each $name, $size in $size-list {
  .margin-lr-#{$name} {
    margin-left: $size;
    margin-right: $size;
  }
}
@each $name, $size in $size-list {
  .margin-tb-#{$name} {
    margin-top: $size;
    margin-bottom: $size;
  }
}
// padding
@each $name, $size in $size-list {
  .padding-#{$name} {
    padding: $size;
  }
}
@each $direction in $direction-list {
  @each $name, $size in $size-list {
    .padding-#{$direction}-#{$name} {
      padding-#{$direction}: $size;
    }
  }
}
@each $name, $size in $size-list {
  .padding-lr-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }
}
@each $name, $size in $size-list {
  .padding-tb-#{$name} {
    padding-top: $size;
    padding-bottom: $size;
  }
}

.pointer {
  cursor: pointer;
}

.full-height {
  height: 100%;
}

.over-hideen {
  overflow: hidden;
}
